@import '~antd/dist/antd.less';

@black-color: #000;
@kindsend-primary-color: #D15D36;
@primary-color: #D15D36;

@secondary-color: #7B7B7B;
@text-white: #FAFAFA;

// Buttons
@btn-font-weight: 700;
@btn-border-radius-base: 4px;
// @btn-border-radius-sm: @border-radius-base;
// @btn-border-width: @border-width-base;
// @btn-border-style: @border-style-base;
// @btn-shadow: 0 2px 0 rgba(0, 0, 0, 0.015);
// @btn-primary-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
// @btn-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);

@btn-primary-color: @kindsend-primary-color;
// @btn-primary-bg: transparentr;

// @btn-default-color: @text-color;
// @btn-default-bg: @component-background;
// @btn-default-border: @border-color-base;

// @btn-danger-color: #fff;
// @btn-danger-bg: @error-color;
// @btn-danger-border: @error-color;

// @btn-disable-color: @disabled-color;
// @btn-disable-bg: @disabled-bg;
// @btn-disable-border: @border-color-base;

// @btn-default-ghost-color: @component-background;
// @btn-default-ghost-bg: transparent;
// @btn-default-ghost-border: @component-background;

@btn-font-size-lg: 18px;
// @btn-font-size-sm: @font-size-base;
// @btn-padding-horizontal-base: @padding-md - 1px;
// @btn-padding-horizontal-lg: 8px;
// @btn-padding-horizontal-sm: @padding-xs - 1px;

// @btn-height-base: @height-base;
@btn-height-lg: 56px;
// @btn-height-sm: @height-sm;

// @btn-line-height: 40px;

// @btn-circle-size: @btn-height-base;
// @btn-circle-size-lg: @btn-height-lg;
// @btn-circle-size-sm: @btn-height-sm;

// @btn-square-size: @btn-height-base;
// @btn-square-size-lg: @btn-height-lg;
// @btn-square-size-sm: @btn-height-sm;
// @btn-square-only-icon-size: @font-size-base + 2px;
// @btn-square-only-icon-size-sm: @font-size-base;
// @btn-square-only-icon-size-lg: @btn-font-size-lg + 2px;

// @btn-group-border: @primary-5;

// @btn-link-hover-bg: @primary-color;
@btn-text-hover-bg: @primary-color;

.ant-btn-primary:hover {
  color: @text-white;
}

// Input
// ---
// @input-height-base: @height-base;
@input-height-lg: 60px;
// @input-height-sm: @height-sm;
// @input-padding-horizontal: @control-padding-horizontal - 1px;
// @input-padding-horizontal-base: @input-padding-horizontal;
// @input-padding-horizontal-sm: @control-padding-horizontal-sm - 1px;
@input-padding-horizontal-lg: 24px;
// @input-padding-vertical-base: max(
//   (round(((@input-height-base - @font-size-base * @line-height-base) / 2) * 10) / 10) -
//     @border-width-base,
//   3px
// );
// @input-padding-vertical-sm: max(
//   (round(((@input-height-sm - @font-size-base * @line-height-base) / 2) * 10) / 10) -
//     @border-width-base,
//   0
// );
// @input-padding-vertical-lg: (
//     ceil(((@input-height-lg - @font-size-lg * @line-height-base) / 2) * 10) / 10
//   ) - @border-width-base;
@input-placeholder-color: #707070;
@input-color: @black-color;
// @input-icon-color: @input-color;
@input-border-color: #DCDCDC;
@input-bg: #F1F2F7;
// @input-number-hover-border-color: @input-hover-border-color;
// @input-number-handler-active-bg: #f4f4f4;
// @input-number-handler-hover-bg: @primary-5;
// @input-number-handler-bg: @component-background;
// @input-number-handler-border-color: @border-color-base;
// @input-addon-bg: @background-color-light;
@input-hover-border-color: #DCDCDC;
// @input-disabled-bg: @disabled-bg;
// @input-outline-offset: 0 0;
// @input-icon-hover-color: fade(@black, 85%);
// @input-disabled-color: @disabled-color;
.ant-input:hover,
.ant-input:focus, .ant-input-focused {
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
  outline: 0;
  border-color: #DCDCDC;
}