.add-new-form-page {
  textarea.ant-input {
    min-height: 212px;
  }
}

.vcard-modal {
  .ant-modal-body {
    max-height: 1000px;
    min-height: 200px;
    height: 90vh;
    overflow: auto;

    .vcard {
      border: none;
    }
  }
}
