@primary-color: #D15D36;
.swiper-pagination {

}

.swiper-pagination-bullet {
  border-radius: 0 !important;
  --swiper-pagination-bullet-width: 20px;
  --swiper-pagination-bullet-height: 20px;
}

.swiper-pagination-bullet-active {
  --swiper-pagination-color: @primary-color;
}
